In [5]:
import numpy as np
import random
import matplotlib.pyplot as plt

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout,Flatten
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import SparseCategoricalCrossentropy
from tensorflow.keras.callbacks import EarlyStopping

In [ ]:
from keras.datasets.cifar10 import load_data
(X_train, y_train), (_, __) = load_data()

In [ ]:
len(X_train)

In [ ]:
X_train[0].shape

In [ ]:
#check the range of pixel values
plt.figure()
plt.imshow(X_train[1])
plt.colorbar()
plt.grid(False)

In [ ]:
class_names = ['Ship','Aeroplane','Automobile','Bird','Cat','Deer','Dog','Frog','Horse','Truck']

In [28]:
import pandas as pd
y_train = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/cifar_image_flattened_pixels.csv")

In [29]:
test_data

,0,1,2,3,4,5,6,7,8,9,...,3062,3063,3064,3065,3066,3067,3068,3069,3070,3071
0,98,105,108,92,101,106,91,101,107,93,...,171,183,182,176,175,175,168,181,181,175
1,101,108,101,101,108,101,102,109,102,103,...,103,100,109,104,100,109,103,100,109,102
2,85,115,27,63,90,25,37,66,15,69,...,141,172,193,136,173,192,138,179,192,149
3,213,213,214,215,214,218,220,218,226,223,...,216,193,194,209,201,204,216,203,201,237
4,41,74,144,41,75,139,41,75,139,41,...,133,41,77,130,44,75,133,42,73,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,156,186,205,153,183,201,153,183,201,152,...,90,40,73,92,49,79,99,46,77,97
1996,68,101,169,69,103,173,70,104,176,71,...,58,61,73,64,51,62,53,49,61,52
1997,216,190,168,219,193,169,214,189,163,188,...,135,182,167,150,184,170,152,188,171,151
1998,46,24,17,43,32,11,77,82,60,117,...,147,102,134,146,100,131,145,99,130,148
1999,55,74,67,64,87,82,44,73,69,85,...,41,79,85,73,129,141,127,103,118,103

In [ ]:
#Normalizing the pixel values
X_train = X_train / 255.0
X_test = X_test / 255.0

In [ ]:
X_